body {
    height: 1024px;
    max-width: 100%;
    background-image: url(img/Desktop\ -\ 1\ \(1\).png);
}
.navbar {
    font-weight: bold;
    background-color: #E25F00;
    font-size: 1.2em;
}
.judul-desc h1 {
    margin-top: 170px;
    font-size: 72px;
}
.kartu {
    position: relative;
    width: 300px;
    height: 320px;
    border: 3px solid;
    border-radius: 10px;
    padding: 2rem 2rem;
    font-size: 30px;
}
.icon {
    margin-top: 2rem;
}
.row {
    margin-top: 8rem;
}
.zoom:hover {
    transition: transform .2s;
    -ms-transform: scale(1.6); /* IE 9 */
    transform: scale(1.6); 
}
